rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // User profile and stats
    match /users/{userId} {
      allow read, write: if true;
    }

    // Matchmaking queue
    match /matchmakingQueue/{ticketId} {
      allow read, write: if true;
    }

    // Game rooms & matches
    match /rooms/{roomId} {
      allow read, write: if true;

      // WebRTC audio signaling collection inside room
      match /signals/{signalId} {
        allow read, write: if true;
      }
    }
  }
}
